@model InstaClone.Models.Profile.ProfileModel
@inject ApplicationDbContext DbContext

@{
    var photoPath = "~/images/" + (Model.Image ?? "noimage.jpg");
    ViewData["Title"] = Model.Name + " Profile";
}

    <div class="card">
        <div class="card-header">
            <h2>@Model.Name</h2>
            <a asp-controller="Profile" asp-action="Follow" asp-route-name="@Model.Name" class="btn btn-primary">Follow</a>
            @if (Model.Subscribers.Count() == 0) 
            {
                <h2>None</h2>
            }

            <h2>@Model.Subscribers.Count()</h2>

            <!--Need to be removed-->
            @if (User.Identity.Name == Model.Name)
            {
                <div class="uploadBtn">
                    <a asp-controller="Photo" asp-action="Upload" class="btn btn-dark">Upload</a>
                </div>
            }
        </div>
        <div class="card-body">
            <img class="card-img-top userProfilePhoto" src="@photoPath" asp-append-version="true" />
        </div>
        <div class="card-footer">
            @foreach (var m in DbContext.Photos)
            {
                if (m.Name == Model.Name)
                {
                    var photoPath2 = "~/images/" + (m.Photo ?? "noimage.jpg");
                    <img class="card-img-top userAllPhotos" src="@photoPath2" asp-append-version="true" />  
                }
            }
        </div>
    </div>